/*Site Wide*/
* {
  font-family: 'Alegreya Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
}

/*NAVIGATION BAR*/
.navbar {
  text-align: center;
  background-color: #064F40; /*set the background color*/
  width: 100%; /*make the nav full screen width*/
  height: 125px;
  margin: 0;
  display: grid; /*using css grid layout*/
  grid-template-columns: 1fr auto 1fr; /*create 3 columns with grid*/
}

/*NAVBAR GRID COLUMNS*/
#navbar__grid--center { /*I thought about combining this with navbar__title but it seemed like keeping the grid seperate would be better for reusability?*/
  grid-column: 2; /*positioning centered*/
  padding-top: 30px;
}

#navbar__grid--right { /*I thought about combining this with navbar__link but it seemed like keeping the grid seperate would be better for reusability?*/
  grid-column: 3; /*positioning on the right*/
  padding: 15px;
  text-align: right;
}

/*NAVBAR STYLING*/
/*This is navbar menu items*/
.navbar__title {
  text-decoration: none; /*get rid of default blue link underline*/
  text-transform: uppercase;
  color: white;
  font-size: 40px;
  font-family: 'Raleway';
}

/*This is navbar menu items*/
.navbar__link {
  text-decoration: none; /*get rid of default blue link underline*/
  text-transform: uppercase;
  color: #d0bcb3; /*#B2A59F*/
  padding-left: 30px;
}

/*This is navbar social icons*/
.navbar__social {
  width: 30px;
  height: 30px;
}

h1 {
font-family: 'Alegreya Sans';
font-size: 60px;
color: white;
text-align: center;
margin: 0 !important;
}

p {
color: white;
text-align: center;
}

/*BUTTON STYLING*/
.button {
	box-shadow:inset 0px 1px 0px 0px #91b8b3;
	background-color:#064f40;
	border-radius:5px;
	cursor:pointer;
	color:#ffffff;
	font-family: "Raleway";
	font-size:15px;
  padding: 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;
  align-items: center;

  text-align: center; /*intro full screen width*/
}
.button:hover {
	background-color:#3c826b;
}
.button:active {
	position:relative;
	top:1px;
}

/*MUSIC STYLING*/
/*this will hopefully change a lot once we introduce javascript and i can make custom controls*/
.music {
  border: 2px solid black;
  border-radius: 33px;
  background-color: #f1f3f4;
}

/*MUSIC STYLING*/
.intro {
  background-image: url("../images/ice.jpeg");
  background-size: cover;
  height: 500px;
  margin: 0;
  align-items: center;
  align-content: center;
  text-align: center; /*intro full screen width*/
  display: grid; /*using css grid layout*/
  grid-template-columns: 1fr auto 1fr; /*create 3 column with grid*/
  grid-template-rows: 1fr 1fr 1fr 1fr; /*create 4 rows*/
    }

  #intro__grid--top {
    grid-row: 2; /*positioning top row*/
    grid-column: 1 / 4; /*telling it to span full width of all columns*/
  }
  #intro__grid--bottom {
    grid-row: 3; /*positioning bottom row*/
    grid-column: 2; /*positioning center column*/
  }

/*FOOTER STYLING*/
footer {
  text-align: center;
  background-color: #064F40; /*set the background color*/
  width: 100%; /*make the footer full screen width*/
  height: 125px;
  margin: 0;
  display: grid; /*using css grid layout*/
  grid-template-columns: 1fr; /*create 1 column with grid*/
  grid-template-rows: 1fr 1fr 1fr; /*create 4 rows*/
  }

  #footer__grid--middle {
    grid-row: 2;
  }
