/*Site Wide*/
* {
  font-family: 'Raleway', sans-serif;
}

/*---------------------------------------------------*/
/*NAVIGATION BAR*/
.navbar {
  text-align: center;
  background-color:  #032f26;  /*#04372c;*/ /*set the background color*/
  width: 100%; /*make the nav full screen width*/
  height: 160px;
  margin: 0;
  display: grid; /*using css grid layout*/
  grid-template-columns: 1fr auto 1fr; /*create 3 columns with grid*/
  grid-template-rows: 1fr 1fr;
}

/*NAVBAR GRID COLUMNS*/
#navbar__grid--title { /*I thought about combining this with navbar__title but it seemed like keeping the grid seperate would be better for reusability?*/
  grid-column: 2; /*positioning centered*/
  grid-row: 1;

}
#navbar__grid--menu{
  grid-column: 2; /*positioning centered*/
  grid-row: 2;

}
#navbar__grid--right { /*I thought about combining this with navbar__link but it seemed like keeping the grid seperate would be better for reusability?*/
  grid-column: 3; /*positioning on the right*/
  grid-row: 1/3;
  text-align: right;
}

/*This is navbar menu items*/
.navbar__title {
  text-decoration: none; /*get rid of default blue link underline*/
  text-transform: uppercase;
  color: white;
  font-size: 40px;
  font-family:'Poiret One';
}
/*This is navbar menu items*/
.navbar__link {
  text-decoration: none; /*get rid of default blue link underline*/
  text-transform: uppercase;
  color: #d0bcb3;
  font-size: 15px;
  padding: 15px;
}
/*This is navbar social icons*/
.navbar__social {
  width: 30px;
  height: 30px;
}

.img__newyears {
  height: 150px;;
}

.img__logo {
  width: 250px;
}

.img__leaf {
  width: 25px;
}
/*---------------------------------------------------*/
/*COMMON STYLES THROUGHOUT*/
h1 {
font-family: 'Raleway';
font-size: 60px;
color: white;
text-align: center;
}

h2 {
  font-family: 'Raleway';
  font-size: 40px;
  color: white;
  text-align: center;
  }


h3 {
  color: black;
  font-size: 20px;
  text-align: center;
  padding: 25px;
}

h4 {
  color: #d0bcb3;
  font-family: "Poiret One";
  font-size: 30px;
  padding: 20px;
  margin: 5%;
  text-decoration: underline;
  text-transform: uppercase;
}

h5 {
  color: #d0bcb3;
  font-family: "Poiret One";
  font-size: 20px;
  padding-left: 3em;
  padding-right: 3em;
  line-height: 1.5em;
  text-align: left;
}

table, address {
  color: #d0bcb3;
  font-family: "Poiret One";
  font-size: 20px;
  padding-left: 3em;
  padding-right: 3em;
  text-align: left;
  font-style: normal; /*this gets rid of default italic on the address attribute*/
}

td {
  padding-right: 40px;
  font-family: 'Poiret One';
}

p {
color: white;
text-align: center;
padding: 40px;/*adding padding so the left justified content is centered*/
line-height: 30px;
font-size: 15px;
font-family: "Poiret One";
text-transform: uppercase;
}

#footer__link{ /*mimicing p styles above for links*/
  text-decoration: none;
  color: white;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  font-family: "Poiret One";
  text-transform: uppercase;
}

#spotlight__link, #jsonOnClick, #call__us { /*applying this style to three different ids on different pages*/
  text-decoration: none;
  color:#d0bcb3;;
  text-align: center;
  font-size: 20px;
  font-family: "Poiret One";
  text-transform: uppercase;
  border: 1px solid #d0bcb3;
  padding: .5em;
}

#spotlight__link:hover, #jsonOnClick:hover, #call__us:hover { /*flip the colors on hover so user knows its a button*/
	background-color:#d0bcb3;
  color: white;
}

#spotlight__link:focus, #jsonOnClick:focus, #call__us:focus { /*this removes chrome default blue outline on focus*/
  outline: 0;
}

/*LIST ITEM STYLING*/
ul,li {
  list-style-type: none;
  text-align: left;
  color: #d0bcb3;
  padding: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

.li__header {
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  text-align: left;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

.table__header {
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 25px;
  align-items: center;
  align-self: center;
  align-content: center;
}


/*BUTTON STYLING*/
.button {
text-decoration: none;
color:white;
text-align: center;
font-size: 20px;
font-family: "Poiret One";
text-transform: uppercase;
background-color:#032f26;
padding: .5em;
text-shadow: white;
}

.button:hover {
	background-color:#d0bcb3;
  color: white;

}
.button:active {
	position:relative;
	top:1px;
}
/*---------------------------------------------------*/
/*MAIN INTRO PAGE STYLING*/
.intro {
  background-image: url("../images/ice.jpeg");
  background-size: cover;
  height: 608px;
  margin: 0;
  align-items: center;
  align-content: center;
  text-align: center; /*intro full screen width*/
  display: grid; /*using css grid layout*/
  grid-template-columns: 1fr auto 1fr; /*create 3 column with grid*/
  grid-template-rows: 1fr 1fr 1fr 1fr; /*create 4 rows*/
  }

  #intro__grid--top {
    grid-row: 2; /*positioning top row*/
    grid-column: 1 / 4; /*telling it to span full width of all columns*/
  }
  #intro__grid--bottom {
    grid-row: 3; /*positioning bottom row*/
    grid-column: 2; /*positioning center column*/
  }

  /*---------------------------------------------------*/
  /*MUSIC STYLING*/
  /*this will hopefully change a lot once we introduce javascript and i can make custom controls*/
  .music {
    border: 2px solid black;
    border-radius: 33px;
    background-color: #f1f3f4;
  }

    /*---------------------------------------------------*/
    /*MENU STYLING*/
    .menu {
      background-image: url("../images/hottoddy.jpeg");
      background-size: cover;
      height: 608px;
      margin: 0;
      align-items: center;
      align-content: center;
      text-align: center; /*intro full screen width*/
      display: grid; /*using css grid layout*/
      grid-template-columns: 1fr 1fr 1fr 1fr; /*create 3 column with grid*/
      grid-template-rows: 1fr 1fr 1fr; /*create 4 rows*/
      }

      #menu__grid--left {
        grid-row: 2; /*positioning top row*/
        grid-column: 2; /*telling it to span full width of all columns*/
      }
      #menu__grid--right {
        grid-row: 2; /*positioning bottom row*/
        grid-column: 3; /*positioning center column*/
      }

      .menu__eat, .menu__drink { /*These were H2 but because of the target they are now a links I am styling*/
        font-size: 60px;
        font-family:'Alegreya Sans';
        color:white;
        text-decoration: none;
      }

      .menu__eat:hover, .menu__drink:hover {
        border-bottom: 2px solid white; /*create an underline on hover*/
      }

      .drinks {
        display: grid; /*using css grid layout*/
        grid-template-columns: 1fr 1fr 1fr; /*create 3 column with grid*/
        grid-template-rows: 1fr; /*create 4 rows*/
      }

      .eat {
        align-items: center;
        align-content: center;
        text-align: center; /*intro full screen width*/
        display: grid; /*using css grid layout*/
        grid-template-columns: 1fr; /*create 3 column with grid*/
        grid-template-rows: 1fr; /*create 1 rows*/
      }

      #drinks__grid--left {
        grid-row: 1; /*positioning bottom row*/
        grid-column: 1; /*positioning center column*/
      }

      #drinks__grid--center {
        grid-row: 1; /*positioning bottom row*/
        grid-column: 2; /*positioning center column*/
      }

      #drinks__grid--right {
        grid-row: 1; /*positioning bottom row*/
        grid-column: 3; /*positioning center column*/
      }

      #eat__grid--center {
        grid-row: 1; /*positioning bottom row*/
        grid-column: 1/4; /*positioning center column*/
      }

      .scratch {
        line-height: 30px; /*adding line height so it matches the li items above it*/
        padding-bottom: 1em;
      }

      /*MENU PHOTO GALLERY STYLING*/
      /*---------------------------------------------------*/
      .eat__grid--gallery {
        grid-template-columns: repeat(4,1fr); /*4 flexible columns*/
        grid-template-rows: repeat(2, 1fr); /*2 flexible rows*/
        background-color: #d0bcb3; /*image gallery background*/
        display: grid;
       }

        .gallery__item--1 {
          grid-row: 1;
          grid-column: 1;}
        .gallery__item--2 {
          grid-row: 1;
          grid-column: 2; }
        .gallery__item--3 {
          grid-row: 1;
          grid-column: 3; }
        .gallery__item--4 {
          grid-row: 1;
          grid-column: 4; }
        .gallery__item--5 {
          grid-row: 2;
          grid-column: 1; }
        .gallery__item--6 {
          grid-row: 2;
          grid-column: 2; }
        .gallery__item--7 {
          grid-row: 2;
          grid-column: 3; }
        .gallery__item--8 {
          grid-row: 2;
          grid-column: 4; }

        .gallery__img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block; }

      /*---------------------------------------------------*/
      /*SPOTLIGHT HEADING STYLING*/
      .spotlight {
        background-image: url("../images/fire.jpeg");
        background-size: cover;
        height: 608px;
        margin: 0;
        align-items: center;
        align-content: center;
        text-align: center; /*intro full screen width*/
        display: grid; /*using css grid layout*/
        grid-template-columns: 1fr 1fr 1fr 1fr; /*create 3 column with grid*/
        grid-template-rows: 1fr 1fr 1fr; /*create 4 rows*/
        }

        #spotlight__grid--left {
          grid-row: 1; /*positioning bottom row*/
          grid-column: 1; /*positioning center column*/
        }

        #spotlight__grid--center {
          grid-row: 1; /*positioning bottom row*/
          grid-column: 2; /*positioning center column*/
        }

        #spotlight__grid--right {
          grid-row: 1; /*positioning bottom row*/
          grid-column: 3; /*positioning center column*/
        }

        /*SPOTLIGHT CONTENT STYLING*/
        .split__screen {
          margin: 0;
          text-align: center; /*intro full screen width*/
          display: grid; /*using css grid layout*/
          grid-template-columns: 1fr 1fr; /*create 2 column with grid*/
          grid-template-rows: 1fr 1fr 1fr 1fr; /*create 4 rows*/
          }

          #split__screen--1--left {
            grid-row: 1;
            grid-column: 1;
          }
          #split__screen--1--right {
            grid-row: 1;
            grid-column: 2;
          }
          #split__screen--2--left {
            grid-row: 2;
            grid-column: 1;
          }
          #split__screen--2--right {
            grid-row: 2;
            grid-column: 2;
          }
          #split__screen--3--left {
            grid-row: 3;
            grid-column: 1;
          }
          #split__screen--3--right {
            grid-row: 3;
            grid-column: 2;
          }
          #split__screen--4--left {
            grid-row: 4;
            grid-column: 1;
          }
          #split__screen--4--right {
            grid-row: 4;
            grid-column: 2;
          }

/*---------------------------------------------------*/
        /*FIND US  CONTENT STYLING*/
        .find__us {
          margin: 0;
          text-align: center; /*intro full screen width*/
          display: grid; /*using css grid layout*/
          grid-template-columns: 1fr 1fr; /*create 2 column with grid*/
          grid-template-rows: 1fr; /*create 4 rows*/
          }

          #findUs--left {
            grid-row: 1;
            grid-column: 1;
          }
          #findUs--right {
            grid-row: 1;
            grid-column: 2;
          }
/*---------------------------------------------------*/
/*FOOTER STYLING*/
footer {
  text-align: center;
  background-color: #032f26; /*set the background color*/
  width: 100%; /*make the footer full screen width*/
  height: 125px;
  margin: 0;
  display: grid; /*using css grid layout*/
  grid-template-columns: 1fr; /*create 1 column with grid*/
  grid-template-rows: 1fr 1fr 1fr; /*create 4 rows*/
  }

  #footer__grid--middle {
    grid-row: 2; /*center footer content*/
  }

  /*---------------------------------------------------*/
  /*POPUP STYLING*/
.overlay-bg {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height:100%;
	width: 100%;
	cursor: pointer;
	z-index: 1000; /* high z-index */
	background: #000; /* fallback */
	background: rgba(0,0,0,0.75);
}
	.overlay-content {
		display: none;
		background-image: url(/images/newnewyear.png);
    border: 6px solid #d0bcb3; /*pop up border*/
    border-radius: 25px; /*round corners of border*/
    background-size: 100% auto; /*this refers to the image size within the content*/
		padding: 2% 2% 4% 0; /*custom padding to display content nicely*/
		width: 40%; /*this refers to overall page for the popup to cover*/
		position: absolute;
		top: 15%;
		left: 50%;
		margin: 0 0 0 -20%; /* add negative left margin for half the width to center the div */
		z-index: 10001;
		border-radius: 4px;
		box-shadow: 0 0 5px rgba(0,0,0,0.9);
    text-align: right; /* the only content is actually the tickets button so this is positioning it*/
	}

	.close-btn {
		cursor: pointer;
		border: 1px solid #333;
		padding: 2%;
		background: #032f26;
    box-shadow:inset 0px 1px 0px 0px #1e6053;
    text-shadow:0px 1px 0px #1e6053;
    color: white;
    text-transform: uppercase;
		border-radius: 4px;
    text-align: right;
	}
	.close-btn:hover {
		background:#043f33;
	}

/*NEWSLETTER STYLING*/
/*---------------------------------------------------*/
/*ENTIRE FORM*/
.form__container {
  background-image: url("/images/cocktail.jpeg");
  min-height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.form {
  background-color: #032f26;
  width: 550px;
  margin: 20px; /*creates a little space around the whole content*/
  padding: 20px;
  position: absolute;
  left: 0;
}

/*EACH FORM SECTION*/
.form__section {
  padding-top: 15px;
  padding-bottom: 15px;
}

/*TITLE*/
.form__title {
  color: #d0bcb3; /*heading color*/
  text-transform: uppercase;
  font-size: 25px;
}

/*HEADINGS*/
.form__h2 {
  color: #e7b5ac;
  font-size: 18px;
}

/*ALL FORM LABELS*/
label {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;   /*This tells each label to go on a new line */
}

/*ONLY INPUT LABELS*/
.input {
  color: #f9e0db; /*Just the radio button and checkbox choices should be a different color*/
  font-size: 16px; /*and a slightly smaller size*/
}

/*BUTTON*/
.form__button {
	box-shadow:inset 0px 1px 0px 0px #e7b5ac;
	background-color: #f9e0db;
	border-radius:5px;
	cursor:pointer;
	color:white;
	font-size:16px;
  padding: 10px;
	text-decoration: none;
	text-shadow:0px 1px 0px  #e7b5ac;
  text-align: center;

}

/*Once the user has entered the correct input the formfield will change color*/
input:valid {
  background-color: #e7b5ac;
}
/*I had invalid styling as well - but I chose to take it out because as a user I
find it aggressive to change an angry color especially when there are messages as well: ) */

  /*PRINT STYLING IGNORED FOR SCREENS*/
  /*---------------------------------------------------*/
  .print__only {
    display: none;
  }
